<h1>Ajouter une chambre</h1>

<%= form_for [ @hotel, @room] do |f| %>

  <%= f.label :capacity, "Nombre de personne" %>
  <%= f.number_field :capacity, placeholder: "Nombre max" %>

  <%= f.label :price, "Entre un prix" %>
  <%= f.number_field :price, placeholder: "prix/nuit" %>

  <%= f.submit :Création %>

<% end %>

<%= link_to 'Back', hotel_rooms_path %>
