<div class="container">
  <div class="row mt-5">
<h1>Toutes nos chambres</h1>
    <div class="col-12 col-sm-8 col-md-4 offset-sm-2 offset-md-4">
      <div class="banner_homepage">


<% @hotels.each do |hotel| %>
  <% @rooms.each do |room| %>
    <p>capacitée de la chambre : <%= room.capacity %></p>
    <p>prix/nuit : <%= room.price %>€</p>
    <%= link_to "Voir nos chambre", hotel_room_path(hotel, room) %>
  <% end %>
<% end %>

      </div>
    </div>
  </div>
</div>

<%# /!\ Commande Admin pour la création des Hotels (je n'ai pas fait de seed) /!\ %>
<%# <% @hotels.each do |hotel| %>
  <%# <p><%= hotel.name %></p>
    <%# <p><%= hotel.adresse %></p>
  <%# <%= link_to "Voir nos chambre", hotel_rooms_path(hotel) %>
  <%# <%= link_to "Supprimer", hotel_path(hotel), data: {turbo_method: :delete, turbo_confirm: "Etes vous sur?"} %>
<%# <% end %>
<%# <p> <%= link_to'Ajouter votre Hotel', new_hotel_path %> </p>
